/.vs/sitotostatic-tst/v15/.suo
/.vs/sitotostatic-tst/v15/Server/sqlite3/db.lock
/.vs/sitotostatic-tst/v15/Server/sqlite3/storage.ide
/.vs/sitotostatic-tst/v15/Server/sqlite3/storage.ide-shm
/.vs/sitotostatic-tst/v15/Server/sqlite3/storage.ide-wal
/sitotostatic-tst/bin/Debug/sitotostatic-tst.exe
/sitotostatic-tst/bin/Debug/sitotostatic-tst.exe.config
